h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    color:rgb(40, 207, 76)
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    color: #000000
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    color: #000000
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    color: #a8a8a8   
}